
.containerMaintext {
  padding-top: 5rem;
  font-size: large;
  font-weight: 500;
  color: rgb(251, 158, 38);
  flex-direction: column;
  
}
.containerShopLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.containerShopLink p {
  text-decoration: underline;
  font-size: large;
  margin: 0 10px;
}